body {
    font-family: Montserrat;
}

#fixedLogo {
    height: 85px; 
    width: 130px;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
}

.headerOption {
    text-decoration: none;
    color: black;
    position: relative;
}

.headerOption:hover {
    color: black;
}

.headerOption::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.headerOption:hover::before {
    transform: scaleX(1);
}

.fontNeeded {
    font-family: Montserrat;
}

.footer {
    background-color: black;
    color: white;
}
